@mixin hide {
  visibility: hidden;
  display: none;
}

@mixin show {
  visibility: visible;
  display: inherit;
}

.site-navigation {
  
}

.icon-menu-line {
  @include show;
}

.icon-menu-close {
  @include hide;
}

.is-active {
  .icon-menu-line {
    @include hide;
  }
  
  .icon-menu-close {
    @include show;
  }
}