@mixin hide {
  visibility: hidden;
  display: none;
}

@mixin show {
  visibility: visible;
  display: inherit;
}


@media (min-width: 640px) {
  // .tablet\:text-center { text-align: center }
}

@media (max-width: 1024px) {
  
}

@media (min-width: 1280px) {
  // .desktop\:text-center { text-align: center }
}


@mixin header-bg {
  background-color: #db140d;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

html {
  background-color: #fff;
  background-image: url("https://www.transparenttextures.com/patterns/graphcoders-lil-fiber.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

//   background-color: #ffffff;
// background-image: url("https://www.transparenttextures.com/patterns/notebook-dark.png");
// /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */



// background-color: #ffffff;
// background-image: url("https://www.transparenttextures.com/patterns/robots.png");
// /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

header.site-header {
  @include header-bg;
  // color: #fff;
}


.site-navigation {
  @media (max-width: 767px) {
    ul {
      margin-right: 1rem;
      background: rgb(243, 243, 243);
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.281);
      border-radius: 0.125rem;
      margin-top: 0.25rem;

      li {
        padding: 0.25rem 1rem;
        min-width: 8rem;
      }
    }
  

    &.is-active {
      ul {
        
      }
    }

    &.menu-closed {
      ul {
        @include hide;
      }
    }
  }
}

.site-logo {
  height: 1rem;
}

.icon-menu-line,
.icon-menu-close {
  font-size: 1.85rem;
}

.icon-menu-line {
  @include show;
}

.icon-menu-close {
  @include hide;
}

.is-active {
  .icon-menu-line {
    @include hide;
  }
  
  .icon-menu-close {
    @include show;
  }
}

.home-banner {
  position: relative;
}

.home-banner-bg {
  display: none;
  visibility: hidden;
}
@media (min-width: 768px) {
  
  .home-banner-bg {
    display: block;
    visibility: visible;
    // background: url('../../../static/assets/banners/CompetitionBW1024.jpg');
    // background-repeat: no-repeat;
    // background-size: 100% auto;
    position: absolute;
    opacity: 0.6;
    // top: -6rem;
    left: calc(((100vw - 768px)/2) * -1);
    width: 100vw;
    height: 100%;

    // background-color: rgb(250, 242, 216);
    background-color: rgba(175, 175, 175, 0.404);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  }
}

.site-header {
  background: rgb(167, 26, 26);
  color: #fff;
}